version: '3.8'

services:
  ffmpeg:
    image: jrottenberg/ffmpeg:latest
    container_name: ffmpeg
    volumes:
      - ${INPUT_VIDEO_PATH}:/input
      - extracted_frames:/output
    working_dir: /output
    command: >
      -i /input/video.mp4
      -vf fps=${FPS:-2}
      /output/frame_%04d.jpg

  colmap:
    image: colmap/colmap:latest
    container_name: colmap_processor
    volumes:
      - extracted_frames:/input
      - colmap_output:/output
    working_dir: /output
    depends_on:
      - ffmpeg

volumes:
  extracted_frames:
  colmap_output: